body {
  text-align: center;
  background-color: #E7DFDD;
}

h1 {
  color:grey;
  font-family: 'Lato', sans-serif;
}


.topimages {
  display: flex;
  justify-content: space-evenly;
   flex-direction: row;
}

.botimages {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

p {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#guidebooks {
  font-family: 'Lato', sans-serif;
}